Project-1     OPEN this file JUPYTER notebook or VS Code like IDE 

To create a school database which holds the following details
            ● Student details(Id,name,aadhar card number,parent’s name,ph number,class and
            section)
            ● Students quarterly,half yearly and annual mark statement
            ● Subjects math,science ,social,language

Module1(for admin)
    ● To add student details
    ● View student details
    ● Update student details
    ● Delete student details
    
Module -2(for teachers)
● To enter marks of students using id
● Filter failed students in each subject

In [19]:
# cell-1
#Open XAMPP and start Apache and MySQL 
#Run this only one time(i.e., First Time to connect and save data in the local database) 

%pip install mysql-connector-python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  
)
mycursor = mydb.cursor(buffered=True)

mycursor.execute("CREATE DATABASE student")

mycursor.execute("USE student") # class section input constraint
mycursor.execute('''CREATE TABLE details (Id INT AUTO_INCREMENT PRIMARY KEY, 
                 FirstName VARCHAR(10) NOT NULL, 
                 LastName VARCHAR(10) NOT NULL, 
                 Aadhaar BIGINT(12) NOT NULL UNIQUE, 
                 FatherName VARCHAR(10) NOT NULL, 
                 MotherName VARCHAR(10) NOT NULL, 
                 PhoneNo BIGINT(10) NOT NULL, 
                 Class INT NOT NULL, 
                 Section VARCHAR(1) NOT NULL, 
                 Payment VARCHAR(8) DEFAULT 'NOT PAID')''')

sql = "INSERT INTO details (FirstName,LastName,Aadhaar,FatherName,MotherName,PhoneNo,Class,Section) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
val = [
  ('Ashok','B', 987654321012,'Babu','Mala',9876543210,11,'C'),
  ('Balu','R', 123456789012,'Raja','Gomathi',9898989898,10,'D'),
  ('Arun','K', 987654321923,'Karthick','Kala',9191919191,9,'B'),
  ('Santosh','M', 823456789234,'Mahesh','Kokila',9123456780,12,'A')
]

mycursor.executemany(sql, val)

mycursor.execute('''CREATE TABLE marks (Id INT PRIMARY KEY, 
                 Math1 INT(3), Math2 INT(3), Math3 INT(3), 
                 Science1 INT(3), Science2 INT(3), Science3 INT(3), 
                 Social1 INT(3), Social2 INT(3), Social3 INT(3), 
                 English1 INT(3), English2 INT(3), English3 INT(3),
                 FOREIGN KEY (Id) REFERENCES details(Id) 
                 )''')

s2 = "INSERT INTO marks (Id,Math1,Math2,Math3,Science1,Science2,Science3,Social1,Social2,Social3,English1,English2,English3) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
v2 = [
  (1,90,80,70,95,85,75,97,87,77,86,56,87),
  (2,90,90,90,90,90,90,90,90,90,90,90,90),
  (3,63,43,23,34,65,34,50,48,23,53,42,40),
  (4,68,54,77,45,65,76,34,54,33,30,38,28)
]

mycursor.executemany(s2, v2)

Requirement already satisfied: mysql-connector-python in c:\users\91984\appdata\local\programs\python\python310\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\91984\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
#After the first time run only this cell after opening XAMPP and starting Apache and MySQL 
%pip install mysql-connector-python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="student"
)
mycursor = mydb.cursor(buffered=True)

Requirement already satisfied: mysql-connector-python in c:\users\91984\appdata\local\programs\python\python310\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\91984\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# PROJECT-1

def enterMark():
    print('Enter Mark between 0 and 100 for 4 subject and 3 terms')
    M=int(input('Id - Enter the next Id no to be added(which is also in details Database): '))
    a=int(input('Math - Quarterly : '))
    b=int(input('Math - Halfyearly : '))
    c=int(input('Math - Annual : '))
    d=int(input('Science - Quarterly : '))
    e=int(input('Science - Halfyearly : '))
    f=int(input('Science - Annual : '))
    g=int(input('Social - Quarterly : '))
    h=int(input('Social - Halfyearly : '))
    i=int(input('Social - Annual : '))
    j=int(input('English - Quarterly : '))
    k=int(input('English - Halfyearly : '))
    l=int(input('English - Annual : '))

    if a>=0 and a<=100:
        if b>=0 and b<=100:
            if c>=0 and c<=100:
                if d>=0 and d<=100:
                    if e>=0 and e<=100:
                        if f>=0 and f<=100:
                            if g>=0 and g<=100:
                                if h>=0 and h<=100:
                                    if i>=0 and i<=100:
                                        if j>=0 and j<=100:
                                            if k>=0 and k<=100:
                                                if l>=0 and l<=100:
                                                    query='''INSERT INTO marks (Id,Math1,Math2,Math3,Science1,Science2,Science3,Social1,Social2,Social3,English1,English2,English3) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
                                                    mycursor.execute(query,(M,a,b,c,d,e,f,g,h,i,j,k,l))
                                                    print('Record added')
                                                else:
                                                    print('Invalid Entry')

def filterprint():
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    for p in myresult:
        sql1 = f"SELECT * FROM details WHERE id = {p[0]} "
        mycursor.execute(sql1)
        myresult1 = mycursor.fetchall()
        for x in myresult1:
            print(x[1],end=' ')
    print()

def filterStudents():
    select=input('35 is the Pass Mark \n Select Subject Math Science Social English : ').upper()
    if select=='MATH':
        print('Quarterly - ',end=' ')
        sql = "SELECT * FROM marks WHERE math1<35"
        filterprint()
        print('HalfYearly - ',end=' ')
        sql = "SELECT * FROM marks WHERE math2<35"
        filterprint()
        print('Annual - ',end=' ')
        sql = "SELECT * FROM marks WHERE math3<35"
        filterprint()
        
    elif select=='SCIENCE':
        print('Quarterly - ',end=' ')
        sql = "SELECT * FROM marks WHERE Science1<35"
        filterprint()
        print('HalfYearly - ',end=' ')
        sql = "SELECT * FROM marks WHERE Science2<35"
        filterprint()
        print('Annual - ',end=' ')
        sql = "SELECT * FROM marks WHERE Science3<35"
        filterprint()
        
    elif select=='SOCIAL':
        print('Quarterly - ',end=' ')
        sql = "SELECT * FROM marks WHERE Social1<35"
        filterprint()
        print('HalfYearly - ',end=' ')
        sql = "SELECT * FROM marks WHERE Social2<35"
        filterprint()
        print('Annual - ',end=' ')
        sql = "SELECT * FROM marks WHERE Social3<35"
        filterprint()
        
    elif select=='ENGLISH':
        print('Quarterly - ',end=' ')
        sql = "SELECT * FROM marks WHERE English1<35"
        filterprint()
        print('HalfYearly - ',end=' ')
        sql = "SELECT * FROM marks WHERE English2<35"
        filterprint()
        print('Annual - ',end=' ')
        sql = "SELECT * FROM marks WHERE English3<35"
        filterprint()
        
    else:
        print('Invalid choice')
        filterStudents()


def addDetails():
    a=input('First Name - only alphabets and min 4 & max 10 alphabets : ').lower().capitalize()
    b=input('Last Name - only alphabets and max 10 alphabets : ').lower().capitalize()
    c=int(input('Aadhaar Number - should be 12 numbers : '))
    d=input('Father Name - only alphabets and min 4 & max 10 alphabets : ').lower().capitalize()
    e=input('Mother Name - only alphabets and min 4 & max 10 alphabets : ').lower().capitalize()
    f=int(input('Phone Number - should be 10 numbers : '))
    g=int(input('Class - should be a number from 1 to 12 : '))
    h=input('Section -  choose A / B / C / D : ').capitalize()
    if a.isalpha() and len(a)<11 and len(a)>3:
        if b.isalpha() and len(b)<11:
            if len(str(c))==12:
                if d.isalpha() and len(d)<11 and len(d)>3:
                    if e.isalpha() and len(e)<11 and len(e)>3:
                        if len(str(f))==10:
                            if g>=1 and g<=12:
                                if h in 'ABCD':
                                    query='''INSERT INTO details (FirstName,LastName,Aadhaar,FatherName,MotherName,PhoneNo,Class,Section) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)'''
                                    mycursor.execute(query,(a,b,c,d,e,f,g,h))
                                    print('Record added')
                                else:
                                    print('Section Incorrect')
                            else:
                                print('Class Incorrect')
                        else:
                            print('Phone Number Incorrect')
                    else:
                        print('Mother Name Incorrect')
                else:
                    print('Father Name Incorrect')
            else:
                print('Aadhaar Number Incorrect')
        else:
            print('Last Name Incorrect')
    else:
        print('First Name Incorrect')
   
        
def viewDetails():
    i=int(input('Enter Id - existing Id number only: '))
    mycursor.execute(f"SELECT * FROM details WHERE Id = {i}")
    myresult = mycursor.fetchall()
    for x in myresult:
        print(f'''Name : {x[1]} {x[2]}
Aadhaar : {x[3]}
Father : {x[4]}
Mother : {x[5]}
Phone : {x[6]}
Class : {x[7]}
Section : {x[8]}''')
        
def recordUpdate(up,k,i):
    print(k , up)
    mycursor.execute(f'''UPDATE details 
    SET {k} = '{up}' 
    WHERE Id = {i}''')
    print('Record update')

def updateDetails():
    i=int(input('Enter Id - existing Id number only: '))
    k=input('Enter the detail to be updated - FirstName LastName Aadhaar FatherName MotherName PhoneNo Class Section : ')
    if k in x:
                    up=input('New data : ')  
                    if k=='FirstName' and up.isalpha() and len(up)<11 and len(up)>3:
                        recordUpdate(up.lower().capitalize(),k,i)
                    elif k=='LastName' and up.isalpha() and len(up)<11:
                        recordUpdate(up.lower().capitalize(),k,i)
                    elif k=='Aadhaar' and len(up)==12:
                        recordUpdate(int(up),k,i)
                    elif k=='FatherName' and up.isalpha() and len(up)<11 and len(up)>3:
                        recordUpdate(up.lower().capitalize(),k,i)
                    elif k=='MotherName' and up.isalpha() and len(up)<11 and len(up)>3:
                        recordUpdate(up.lower().capitalize(),k,i)
                    elif k=='PhoneNo' and len(up)==10:
                        recordUpdate(int(up),k,i)
                    elif k=='Class' and int(up)<13 and int(up)>0:
                        recordUpdate(int(up),k,i)
                    elif k=='Section' and up in 'ABCD':
                        recordUpdate(up.capitalize(),k,i)                          
                    else:
                        print('Invalid input format')
                        print('''First Name - only alphabets and min 4 & max 10 alphabets
Last Name - only alphabets and max 10 alphabets
Aadhaar Number - should be 12 numbers
Father Name - only alphabets and min 4 & max 10 alphabets
Mother Name - only alphabets and min 4 & max 10 alphabets
Phone Number - should be 10 numbers 
Class no - should be a number from 1 to 12
Section -  choose A / B / C / D''')
            
def deleteDetails():
    i=int(input('Enter Id - existing Id number only: '))
    mycursor.execute('SET FOREIGN_KEY_CHECKS = 0')
    mycursor.execute(f'''DELETE FROM details WHERE Id = {i}''')
    mycursor.execute(f'''DELETE FROM marks WHERE Id = {i}''')
    mycursor.execute('SET FOREIGN_KEY_CHECKS = 1')
    mycursor.execute('SELECT * FROM marks')
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)
    print('Record deleted')
    
def teacher():
    teacherChoice=int(input('''Press
1 - To enter mark
2 - To filter failed students in each subject : '''))
    if teacherChoice==1:
        enterMark()
    elif teacherChoice==2:
        filterStudents()
    else:
        print('Enter no 1 or 2')
        teacher()
    
def admin():
    adminChoice=int(input('''Press
1 - To add student details
2 - To view student details
3 - Update student details
4 - Delete student details : '''))
    if adminChoice==1:
        addDetails()
    elif adminChoice==2:
        viewDetails()
    elif adminChoice==3:
        updateDetails()
    elif adminChoice==4:
        deleteDetails()
    else:
        print('Enter no from 1 to 4')
        admin()
        
def selection():
    adminTeacher=input('Admin / Teacher : ').upper()
    if adminTeacher=='ADMIN':
        admin()
    elif adminTeacher=='TEACHER':
        teacher()
    else:
        print('Invalid selection')
        selection() 
x=('Id','FirstName','LastName','Aadhaar','FatherName','MotherName','PhoneNo','Class','Section','Payment')
q=('Id','Math1','Math2','Math3','Science1','Science2','Science3','Social1','Social2','Social3','English1','English2','English3')
selection()

In [ ]:
#To view updated table data
mycursor.execute("SELECT * FROM details")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
  
print()
mycursor.execute("SELECT * FROM marks ")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [18]:
# to reset and delete the Database
# After Running this cell Run the cell-1 to create new database , tables and record
mycursor.execute('SET FOREIGN_KEY_CHECKS = 0')
sql = "DROP TABLE marks"
mycursor.execute(sql)
mycursor.execute('SET FOREIGN_KEY_CHECKS = 1')

sql = "DROP TABLE details"
mycursor.execute(sql)

mycursor.execute("DROP DATABASE student")

Project -2
    To create GUI for the school database created in Assignment 1
        ● Create 2 frames as follow
        ● Frame-1
            ○ Admin must be able to view students details and update fees paid or not paid status
        ●Frame-2
            ○ Teacher must be able to view marks of the students by providing id

In [ ]:
# First connect XAMPP i.e., RUN cell-1 or cell-2

%pip install tk
import tkinter as tk
from tkinter import *
from tkinter import ttk
from tkinter.ttk import Notebook, Style
from tkinter.messagebox import showerror, showinfo

def view_submit_clicked(i):
    try:
        k = int(i)
        try:
            mycursor.execute(f"SELECT * FROM details WHERE Id = {k}")
            myresult = mycursor.fetchall()
            for x in myresult: 
                z = f'''Name : {x[1]} {x[2]}
Aadhaar : {x[3]}
Father : {x[4]}
Mother : {x[5]}
Phone : {x[6]}
Class : {x[7]}
Section : {x[8]}
Payment : {x[9]}'''
            tit=f'Details of id = {k}'
            showinfo(
            title=tit,
            message=z)
        except UnboundLocalError:
            showerror(title='Error',message=f'''
        Invalid Id
                            ''')
    except ValueError:
        showerror(title='Error',message=f'''
    Id should be number
                            ''')
    
def vButton():
    vW = Toplevel()
    vW.title('View Details')
    vW.geometry("640x480")
    vW.resizable(False, False)
    Id=tk.StringVar()
    Id_label = ttk.Label(vW, text="Enter existing Id:")
    Id_label.place(x=10, y=100)
    Id_entry = ttk.Entry(vW,textvariable=Id)
    Id_entry.place(x=100, y=100)
    Id_entry.focus()
    Submit_button = ttk.Button(vW, text="Submit", command=lambda:view_submit_clicked(Id.get()))
    Submit_button.place(x=100, y=150)

def update_submit_clicked(i,j):
    try:
        k = int(i)
        c=[]
        mycursor.execute('SELECT * FROM marks')
        myresult = mycursor.fetchall()
        for x in myresult: 
            c.append(x[0])
        try:
            l = j.upper()
            if l=='PAID':
                if k in c:
                    try:
                        mycursor.execute(f'''UPDATE details SET Payment = '{l}' WHERE Id = {k}''')
                        z=f'Payment details of Id = {k} is updated'
                        tit=f'Payment Updation'
                        showinfo(
                        title=tit,
                        message=z)
                    except UnboundLocalError:
                        showerror(title='Error',message=f'''
            Invalid Id
                                ''')
                else:
                    showerror(title='Error',message=f'''
    Id is not member of the instuition 
                                ''')
            else:
                showerror(title='Error',message=f'''
    Enter PAID (or) NOT PAID
                                ''')
        except AttributeError:
            showerror(title='Error',message=f'''
    Don't Enter  numbers or Symbols
                                ''')
    except ValueError:
        showerror(title='Error',message=f'''
    Id should be Number 
                                ''')

def uButton():
    uW = Toplevel()
    uW.title('Update Payment')
    uW.geometry("640x480")
    uW.resizable(False, False)
    Id=tk.StringVar()
    Id_label = ttk.Label(uW, text="Enter existing Id:")
    Id_label.place(x=10, y=100)
    Id_entry = ttk.Entry(uW,textvariable=Id)
    Id_entry.place(x=150, y=100)
    Id_entry.focus()
    Paid=tk.StringVar()
    Paid_label = ttk.Label(uW, text="Type PAID or NOT PAID : ")
    Paid_label.place(x=10, y=200)
    Paid_entry = ttk.Entry(uW,textvariable=Paid)
    Paid_entry.place(x=150, y=200)
    Paid_entry.focus()
    Submit_button = ttk.Button(uW, text="Submit", command=lambda:update_submit_clicked(Id.get(),Paid.get()))
    Submit_button.place(x=150, y=250)

root = tk.Tk()
root.title("Welcome User")
root.geometry("640x480")
root.resizable(False, False)
style = Style()
style.theme_use('default')
style.configure('TNotebook.Tab', background="Red")
style.map("TNotebook", background= [("selected", "red")])
note =Notebook(root)
frame1= Frame(note, width= 600, height=450)
note.add(frame1, text= 'Admin')
frame2 = Frame(note, width= 600, height=450)
note.add(frame2, text= "Teacher")
note.pack(expand= True, fill=BOTH)

view_button = ttk.Button(frame1,text='View Details',command=vButton)
view_button.place(x=250, y=150)
update_button = ttk.Button(frame1,text='Update Details',command=uButton)
update_button.place(x=243, y=270)
        
def submit_clicked(i):
    try:
        k = int(i)
        try:
            mycursor.execute(f"SELECT * FROM marks WHERE Id = {k}")
            myr = mycursor.fetchall()
            for x in myr:
                z=f'''      Quarterly 
Math : {x[1]}
Science : {x[4]}
Social : {x[7]}
English : {x[10]}
        Half-Yearly
Math : {x[2]}
Science : {x[5]}
Social : {x[8]}
English : {x[11]}
        Annual
Math : {x[3]}
Science : {x[6]}
Social : {x[9]}
English : {x[12]}'''
            tit=f'Marks of id = {k}'
            showinfo(
            title=tit,
            message=z)
        except UnboundLocalError:
            showerror(title='Error',message=f'''
        Invalid Id
                            ''')
    except ValueError:
        showerror(title='Error',message=f'''
    Id should be number
                            ''')
    
def enterMarks():
    Id=tk.StringVar()
    Id_label = ttk.Label(frame2, text="Enter existing Id:")
    Id_label.place(x=10, y=100)
    Id_entry = ttk.Entry(frame2,textvariable=Id)
    Id_entry.place(x=100, y=100)
    Id_entry.focus()
    Submit_button = ttk.Button(frame2, text="Submit", command=lambda:submit_clicked(Id.get()))
    Submit_button.place(x=100, y=150)  
        
enterMarks()

root.mainloop()